@charset 'utf-8';

@import "app_settings";
@import "foundation";

@include foundation-media-object;
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-menu;
@include foundation-sticky;
@include foundation-top-bar;
@include foundation-orbit;
@include foundation-responsive-embed;

body {
  width: 100%;
}


.splash-screen {
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;

  &.enabling {
    animation-name: splash-screen-animation;
    animation-duration: 1s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
  }

  &.disabling {
    animation-name: splash-screen-animation;
    animation-duration: 1s;
    // animation-direction: reverse;
    // animation-fill-mode: forwards;
  }

}

@keyframes splash-screen-animation {
    from {opacity: 0;}
    to {opacity: 1;}
}


.index {
  @extend .row;
  @extend .expanded;

  .header-container {
    @extend .small-12;
    @extend .columns;
    @extend .row;
    @extend .expanded;

    &.hidden {
      visibility: none;
    }

    .header {
      @extend .small-12;
      @extend .columns;
      @extend .row;
      @extend .expanded;
    }

    h1 {
      @extend .small-12;
      @extend .columns;
      cursor: pointer;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;

      z-index: 999;

      &:hover,
      &.hovered {
        text-shadow: blue 2px 2px;
        color: white;
      }

      span.visible-not-hovered {
        display: inline;
      }


      span.visible-hovered,
      a.visible-hovered {
        display: none;
      }

      &.hovered {
        span.visible-hovered,
        a.visible-hovered {
          display: inline;
        }

        span.visible-not-hovered {
          display: none;
        }
      }

      span {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }
    }

    .details, {
      @extend .small-12;
      // @extend .small-offset-2;
      @extend .medium-8;
      @extend .medium-offset-2;
      @extend .large-6;
      @extend .large-offset-3;
      @extend .end;
      @extend .columns;

      margin-top: .2rem;

      hr {
        border: 0;
        color: blue;
        background-color: blue;
        height: 5px;
      }

      .time-and-space {
        margin-bottom: 1rem;
      }

      .instructions {
        text-align: justify;
        opacity: 0.3;

        &:hover {
          opacity: 1;
        }
      }

      h4 {
        margin-bottom: 1.2rem;
      }

      h4,
      p {
        color: blue;
        font-family: monospace;
        text-shadow: #FFEB3B 3px 3px;
        font-weight: bold;
      }

      a {
        color: blue;
        text-decoration: underline;

        &:hover {
          color: red;
        }
      }
    }

    .description {

    }

    .schedule {
      text-align: center;
    }
  }
}

.proxy-viewer {
  &.docs-visible {
    background-color: red;
  }

  position: relative;

  .documentation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .documentation {
      @include absolute-center;

      width: 80%;
    }

  }
}


.session-not-found {
  width: 100%;
  min-width: 100%;
  height: 100%;
  // position: relative;

  h1 {
    @include absolute-center;
    text-align: center;
  }
}
// .marquee-container {
//   // height: 25px;
//   // width: 420px;

//   overflow: hidden;
//   position: relative;
// }

// .marquee {
//   display: block;
//   width: 200%;
//   height: 30px;

//   position: absolute;
//   overflow: hidden;

//   animation: marquee 5s linear infinite;
// }

// .marquee span {
//   background-color: black;
//   float: left;
//   width: 100%;
// }

// @keyframes marquee {
//   0% { left: 0; }
//   100% { left: -100%; }
// }
