/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
scss/.sass-cache
log
/resources/public/index.html
/resources/public/js/compiled
resources/public/css/*
.DS_Store
